.navbar{
 
    background-color: #007ad9;

}

.navbar-menu{
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    background-color: #3a3633;
    padding: 0;
    z-index: 999;
    width: 16vw;
    list-style: none;
}

.navbar-title{
    padding: 15px;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 1px solid #525151;
    font-weight: bold;
}

.navbar-item{
    padding: .8em;
}
.navbar-item a{
    text-decoration: none;
    color:#c0bbb7;
}

.navbar-item a:hover{
color:#fff;
}
